@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Jost:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500&family=Montserrat+Alternates:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;

}

body {
  background-color: #000000e8 !important ;
}

::-webkit-scrollbar {
  width: 5px;
  padding-inline-end: 20px;
}
/* ::-webkit-scrollbar-track{
    background-color: rgba(3, 3, 3, 0.867);
} */
::-webkit-scrollbar {
  background-color: rgba(255, 255, 255, 0.441);
}


.mantine-10m2vh4::after{
  background: black ;
}


.mantine-10m2vh4::before{
  background-color: #000000db;
}



